<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <appSettings>
    <add key="CameraSN" value="5-0" />
    <add key="HIKCameraSN" value="00E06252277" />
    <add key="ConfigName" value="" />
    <add key="IKSerialNum" value="" />
    <add key="DalsaConfigFile" value="" />
    <add key="DalsaSerialNum" value="" />
    <!--索引+类型 0 面阵，1 线扫-->
    <add key="HKCamera1" value="0-1" />
    <add key="HKCamera2" value="1-1" />
    <add key="HKCamera3" value="2-1" />
    <add key="HKCamera4" value="3-1" />
    <add key="HKCamera5" value="4-0" />
    <add key="HKCamera6" value="5-0" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>